# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
target/*
application.pid
${LOG_PATH}
LOG_PATH_IS_UNDEFINED
a.txt
*log*
!/hummer-plugin/hummer-pipeline-plugin/src/main/resources/logback.xml
!/hummer-simple/hummer-simple-api/src/main/resources/logback.xml

!/hummer-simple/hummer-simple-api/src/main/resources/logback-test.xml
*/db.mv.db
